body{
    min-width:764px ;
}
.mainDiv {
    height: 520px;
    width: 65%;

    background-blend-mode: multiply;
    background-color: rgb(70, 40, 24);
    background-image: url("/SellPage/assets/mainPic.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 15%;
    border-radius: 5px;
    overflow: hidden;
}
