.mainDiv {
    height: 600px;
    width: 75%;
    margin: 20px 25px 20px 25px;
    background-blend-mode: multiply;
    background-color: rgb(70, 40, 24);
    background-image: url("/SellPage/assets/mainPic.png");
    background-repeat: no-repeat;
    object-fit:cover;
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin-top: 15%;
    border-radius: 5px;
    overflow: hidden;
}
